version: 2
jobs:
  build-and-test:
    working_directory: ~/project
    docker:
      - image: circleci/python:3.6
        environment:
          DB_CONNECTION: mongodb://localhost:27017
          DEBUG: true
          PIPENV_VENV_IN_PROJECT: true
      - image: circleci/mongo:4.1
    steps:
      - checkout
      - run:
          name: Install dockerize
          command: wget https://github.com/jwilder/dockerize/releases/download/$DOCKERIZE_VERSION/dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && sudo tar -C /usr/local/bin -xzvf dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz && rm dockerize-linux-amd64-$DOCKERIZE_VERSION.tar.gz
          environment:
            DOCKERIZE_VERSION: v0.6.0
      - run:
          name: Wait for db
          command: dockerize -wait tcp://localhost:27017 -timeout 1m
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.6/site-packages
      - restore_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          name: Install dependencies
          command: |
            sudo pip install pipenv && \
            pipenv install --dev && \
            pipenv run pytest tests/ --disable-warnings
      - run:
          name: Run tests
          command: pipenv run pytest -v --cov=api.app api/tests/
      - save_cache:
          key: deps9-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - "~/project/.venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.6/site-packages"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build-and-test